.features {
	padding: 120px 0 60px;
	@include max768px {
		padding: 60px 0 30px;
	}
	&__body {
	}

	&__list {
		display: flex;
		margin: -15px;
		justify-content: center;
		@include max1000px {
			flex-wrap: wrap;
		}
		@include max480px {
			margin: -5px;
		}
	}

	&__item {
		padding: 15px;
		@include max480px {
			padding: 5px;
		}
		&:first-child {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: -25px;
				left: -27px;
				background: url("../img/features/decor-circle.svg") center/cover no-repeat;
				width: 120px;
				height: 121px;
			}
		}
		&:last-child {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -2px;
				right: -8px;
				background: url("../img/features/decor-rect.svg") center/cover no-repeat;
				width: 65px;
				height: 52px;
			}
		}
	}
}
.features-item {
	flex: 0 1 33.333%;
	transition: all 0.3s;
	&:hover {
		transform: scale(1.1);
	}
	@include max1000px {
		flex: 0 1 50%;
	}
	@include max768px {
		flex: 1 1 100%;
	}
	&__wrapper {
		position: relative;
		z-index: 2;
		background: $white-color;
		padding: 60px 40px;
		box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
		display: flex;
		flex-direction: column;
		height: 100%;
		@include max480px {
			padding: 30px 15px;
		}
	}
	&__icon {
		width: 60px;
		height: 60px;
		& + * {
			margin-top: 35px;
			@include max480px {
				margin-top: 15px;
			}
		}
	}

	&__title {
		flex: 1 1 100%;

		& + * {
			margin-top: 5px;
		}
	}

	&__text {
		flex: 1 1 100%;
		max-width: 286px;
		@include max768px {
			max-width: 100%;
		}
	}
}
