.footer {
	background: $bg-color;
	padding: 76px 0 71px;
	@include max768px {
		padding-top: 35px;
	}
	&__body {
	}

	&__top {
		display: flex;
		padding-bottom: 41px;
		border-bottom: 1px solid #ececec;
		@include max1000px {
			flex-wrap: wrap;
		}
	}

	&__bottom {
		padding-top: 20px;
	}
}
.footer-top {
	&__info {
		flex: 0 1 25.5%;
		@include max1000px {
			flex: 0 1 40%;
		}
		@include max768px {
			flex: 0 1 50%;
		}
		@include max768px {
			flex: 0 1 100%;
			padding-bottom: 25px;
		}
	}

	&__menu {
		flex: 0 1 34.5%;
		display: flex;
		@include max1000px {
			padding-top: 50px;
			flex: 0 1 100%;
			order: 1;
		}
		@include max768px {
			order: unset;
			flex: 0 1 50%;
			padding-top: unset;
			display: block;
		}
		@include max768px {
			flex: 0 1 100%;
		}
		& > * + * {
			margin-left: 60px;
			@include max768px {
				margin-left: unset;
			}
		}
	}

	&__subscribe {
		flex: 0 1 40%;
		@include max1000px {
			flex: 0 1 60%;
		}
		@include max768px {
			flex: 0 1 100%;
			padding-top: 25px;
		}
	}
}
.footer-info {
	&__logo {
		display: block;
		max-width: 153px;
		& + * {
			margin-top: 25px;
		}
	}

	&__address {
		font-style: normal;
		line-height: 225%;
		font-weight: 500;
		& + * {
			margin-top: 5px;
		}
	}

	&__mail,
	&__phone {
		display: block;
		color: inherit;
		font-weight: 500;
		transition: all 0.3s;
		@include max768px {
			font-size: rem(18);
		}
		&:hover {
			color: $hover-color;
		}
	}

	&__mail {
		& + * {
			margin-top: 10px;
		}
	}
	&__phone {
		& + * {
			margin-top: 30px;
		}
	}

	&__social {
	}
}
.logo {
}
.social {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		& + * {
			margin-left: 15px;
		}
	}

	&__link {
		svg {
			width: 18px;
			path {
				fill: $main-color;
				transition: all 0.3s;
			}
		}
		&:hover {
			svg path {
				fill: $hover-color;
			}
		}
	}
}
.footer-menu {
	&__column {
	}

	&__title {
		margin-top: -9px;
		@include max768px {
			margin-top: unset;
			padding: 10px;
			background: $hover-color;
			border: 1px solid $white-color;
			color: $white-color;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				width: 35px;
				height: 3px;
				background: #fff;
				transition: transform 0.3s;
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				transform: rotate(90deg);
				width: 35px;
				height: 3px;
				background: #fff;
				transition: transform 0.3s;
			}
			&.active {
				&::before {
					transform: rotate(-45deg);
				}
				&::after {
					transform: rotate(45deg);
				}
			}
		}
		& + * {
			margin-top: 25px;
			@include max768px {
				margin-top: unset;
			}
		}
	}

	&__list {
		@include max768px {
			background: $white-color;
			height: 0;
			overflow: hidden;
			&.active {
				height: 100%;
				padding: 15px;
				overflow: visible;
				transition: all 0.3s;
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		display: block;
		color: inherit;
		transition: all 0.3s;
		font-weight: 500;
		@include max768px {
			font-size: rem(18);
		}
		&:hover {
			color: $hover-color;
		}
	}
}
.subscribe {
	&__title {
		margin-top: -9px;
		@include max768px {
			margin-top: unset;
		}
		& + * {
			margin-top: 25px;
		}
	}

	&__text {
		font-weight: 500;
		& + * {
			margin-top: 30px;
		}
	}

	&__form {
		display: flex;
		@include max480px {
			flex-direction: column;
		}
	}
}
.subscribe-form {
	&__email {
		width: 100%;
		box-shadow: 0px 7px 20px 0 rgba(192, 192, 192, 0.3);
		border: none;
		padding: 10px 15px;
		font-weight: 500;
		& + * {
			margin-left: 10px;
			@include max480px {
				margin-left: unset;
				margin-top: 10px;
			}
		}
	}

	&__btn {
	}
}
.footer-bottom {
	display: flex;
	@include max768px {
		flex-direction: column-reverse;
	}
	&__copy {
		font-size: rem(12);
		font-weight: 500;
	}

	&__pay {
		display: flex;
		align-items: center;
		margin-left: auto;
		@include max768px {
			margin-left: unset;
			margin-bottom: 15px;
		}
	}
}
.pay {
	&__text {
		font-size: rem(12);
		font-weight: 500;
		& + * {
			margin-left: 20px;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		& + * {
			margin-left: 25px;
		}
	}

	&__link {
		transition: all 0.3s;
		&:hover {
			opacity: 0.7;
		}
	}
}
