.shop {
	padding: 120px 0;

	@media (max-width: 1000px) {
		padding: 60px 0;
	}

	@media (max-width: 768px) {
		padding: 30px 0;
	}

	&__body {
		display: flex;
		gap: 30px; // ! ПРОВЕРИТЬ НА МОБИЛЬНОМ CHROME
	}

	&__filter {
		flex: 0 1 32%;
		& > * + * {
			margin-top: 40px;
		}
	}

	&__content {
		flex: 0 1 68%;
	}
}
.filter {
	&__item {
		border: solid 1px #ececec;
		padding: 40px 30px;
	}

	&__title {
		text-transform: uppercase;
		& + * {
			margin-top: 30px;
		}
	}

	&__form {
	}
}
.filter-search {
	&__form {
		display: flex;
	}

	&__input {
		background: $bg-color;
		border: none;
		padding: 15px;
		width: 100%;
	}

	&__button {
		padding: 15px 20px;
		box-shadow: none;
		svg {
			width: 20px;
			path {
				transition: all 0.3s;
			}
		}

		&:hover {
			svg path {
				fill: $hover-color;
			}
		}
	}
}
.filter-price {
	&__form {
		.irs--flat {
			height: unset;
		}
		.irs--flat .irs-line {
			top: 0;
			height: 5px;
			background-color: #e1e4e9;
			border-radius: 4px;
		}
		.irs--flat .irs-max,
		.irs--flat .irs-min {
			display: none;
		}
		.irs--flat .irs-bar {
			top: 0;
			height: 5px;
			background-color: $hover-color;
		}
		.irs--flat .irs-handle {
			top: 0;
			width: 16px;
			height: 18px;
			background-color: rgba(0, 0, 0, 0);
		}
		.irs--flat .irs-handle > i:first-child {
			top: -60%;
			left: 0;
			width: 30px;
			height: 30px;
			box-shadow: 0 0 13px 0 rgba(90, 90, 90, 0.2);
			background-color: $white-color;
			cursor: pointer;
		}
		.irs--flat .irs-from,
		.irs--flat .irs-single,
		.irs--flat .irs-to {
			display: none;
		}
	}

	&__range-slider {
		padding-right: 30px;
		& + * {
			margin-top: 50px;
		}
	}

	&__footer-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > * + * {
			margin-left: 15px;
		}
	}
	&__price-box {
	}

	&__price-from {
	}

	&__price-to {
	}

	&__btn {
		box-shadow: none;
	}
}
.filter-color {
	&__form {
	}

	&__label {
	}
}
.color-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		.color-label__text {
			color: $hover-color;
		}
	}
	&:not(:first-child) {
		padding-top: 20px;
	}
	&:not(:last-child) {
		padding-bottom: 20px;
		border-bottom: 1px solid #ebebeb;
	}
	&__checkbox {
		display: none;
		&:checked ~ .color-label__icon {
			&::before {
				content: "";
				position: absolute;
				background: url("../img/icons/checked.svg") center / contain no-repeat;
				left: 1px;
				right: 1px;
				top: 1px;
				bottom: 1px;
			}
		}
		&:checked ~ .color-label__text {
			color: $hover-color;
		}
	}

	&__text {
	}

	&__icon {
		position: relative;
		display: block;
		width: 16px;
		height: 16px;
	}

	&__icon--blue {
		background-color: #00aeef;
	}

	&__icon--red {
		background-color: #f52574;
	}
	&__icon--green {
		background-color: #24d4ac;
	}
	&__icon--orange {
		background-color: #ff7e00;
	}
	&__icon--black {
		background-color: #000;
	}
	&__icon--purple {
		background-color: #923899;
	}
}
.filter-size {
	&__form {
	}

	&__label {
	}
}
.size-label {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.3s;
	&:hover {
		.size-label__text {
			color: $hover-color;
		}
	}
	& > * {
		display: block;
	}
	& + * {
		margin-top: 15px;
	}
	&__checkbox {
		display: none;
		&:checked ~ .size-label__icon {
			border-color: $hover-color;
			&::before {
				content: "";
				position: absolute;
				background: url("../img/icons/checked-accent.svg") center / contain no-repeat;
				left: 2px;
				right: 2px;
				top: 2px;
				bottom: 2px;
			}
		}
		&:checked ~ .size-label__text {
			color: $hover-color;
		}
	}

	&__icon {
		display: block;
		width: 20px;
		height: 20px;
		border: 1px solid #8d8d8d;
		border-radius: 50%;
		position: relative;
		& + * {
			margin-left: 15px;
		}
	}

	&__text {
		transition: all 0.3s;
	}
}

.filter-category {
	&__form {
	}

	&__label {
	}
}
.category-label {
	cursor: pointer;
	display: block;
	& + * {
		margin-top: 15px;
	}
	& > * + * {
		margin-left: 15px;
	}
	&__checkbox {
		display: none;
		&:checked ~ .category-label__text-box {
			background: $hover-color;
			& > * {
				color: $white-color;
			}
		}
	}
	&__text-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 20px;
		background: $bg-color;
	}
	&__text {
		color: $title-color;
	}

	&__number {
		color: $title-color;
	}
}

.filter-tags {
	&__form {
		display: flex;
		flex-wrap: wrap;
		margin: 25px -10px -10px;
	}

	&__label {
		padding: 10px;
	}
}
.tags-label {
	cursor: pointer;
	&__checkbox {
		display: none;
		&:checked ~ .tags-label__text-box {
			background: $hover-color;
			border-color: $hover-color;
			color: $white-color;
		}
	}

	&__text-box {
		padding: 10px 20px;
		border: solid 1px #8d8d8d;
	}

	&__text {
	}
}

.shop-content {
	&__filter {
	}
	&__products {
	}
}
.content-filter {
	padding: 20px 30px;
	background: $white-color;
	border: 1px solid #ebebeb;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > * + * {
		margin-left: 15px;
	}
	&__view {
		display: flex;
		align-items: center;
		& > * + * {
			margin-left: 15px;
		}
	}

	&__select-form {
	}
}
.filter-view {
	&__text {
	}

	&__btn {
		padding: 0;
		border: none;
		display: block;
		background: transparent;
		width: 20px;
		svg path {
			transition: all 0.3s;
		}
		&:hover {
			svg path {
				fill: $hover-color;
			}
		}
	}
	&__btn--active {
		svg path {
			fill: $hover-color;
		}
	}

	&__btn-grid {
	}

	&__btn-list {
	}
}
.content-select {
	.jq-selectbox {
		z-index: 3;
	}
	.jq-selectbox .jq-selectbox__select {
		color: inherit;
		border: none;
		background: transparent;
		padding-right: 30px;
	}

	.jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
		width: 100% !important;
	}
	.jq-selectbox .jq-selectbox__trigger {
		border-left: unset;
	}
	.jq-selectbox:not([disabled]):not(.disabled).focused .jq-selectbox__select,
	.jq-selectbox:not([disabled]):not(.disabled):focus .jq-selectbox__select {
		border: 0;
		background: $hover-color;
		color: $white-color;
		border-radius: 0;
	}
	.jq-selectbox:not([disabled]):not(.disabled):hover .jq-selectbox__select {
		border: none;
		background: $hover-color;
		color: $white-color;
		border-radius: 0;
	}
	.jq-selectbox:hover .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
		top: unset;
		background: url("../img/icons/arrow-down--white.svg") center/cover no-repeat;
	}

	.jq-selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
		position: relative;
		display: inline-block;
		top: unset;
		background: url("../img/icons/arrow-down.svg") center/cover no-repeat;
		width: 15px;
		height: 5px;
		border: none;
	}
	.jq-selectbox.opened .jq-selectbox__trigger-arrow {
		background: url("../img/icons/arrow-down--white.svg") center/cover no-repeat;
	}
	.jq-selectbox .jq-selectbox__dropdown {
		border: 1px solid $hover-color;
		border-radius: 4px;
		background: $white-color;
		box-shadow: none;
		font-size: inherit;
		border-radius: 0;
	}

	.jq-selectbox li.sel,
	.jq-selectbox li:hover,
	.jq-selectbox li.selected {
		background-color: $hover-color;
		color: #fff;
		border-radius: 0;
	}

	&__select {
	}

	&__option {
	}
}
.content-products {
	&__list {
		width: unset;
		padding: 40px 0;
		border-bottom: 1px solid #ebebeb;
		.products-item {
			flex: 0 1 50%;
			&__content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				& > * {
					justify-content: center;
				}
			}
		}
	}
	&__list--list {
		.products-item {
			flex: 0 1 100%;
			display: flex;
			flex-direction: row;
			&__image {
				padding-bottom: unset;
				height: 100%;
				flex: 0 0 26%;
			}

			&__content {
				margin-top: unset;
				border: 1px solid #ececec;
				border-left: none;
				padding: 30px 40px;
				justify-content: flex-start;
				flex-wrap: wrap;
				flex-direction: row;
				& > * {
					justify-content: flex-start;
					align-items: center;
				}
			}

			&__title {
				margin: 0;
				text-align: left;
				order: 1;
				flex: 0 1 100%;
				margin-bottom: 20px;
			}

			&__price-box {
				order: 2;
				margin: 0;
				line-height: 1;
				margin-right: 40px;
			}

			&__rating {
				order: 3;
			}

			&__text {
				order: 4;
				display: block;
				margin-top: 20px;
				margin-bottom: 25px;
			}

			&__btn {
				order: 5;
				display: block;
			}

			.products-item__image:hover .products-item__nav {
				bottom: unset;
				top: 40%;
			}

			.products-nav {
				&__list {
					border-radius: 0;
					background: transparent;
					box-shadow: none;
				}
				&__item {
					border-radius: 50%;
					background: $white-color;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					& + * {
						padding-left: 0;
						margin-left: 14px;
					}
					&::before {
						display: none;
					}
					&:nth-child(3) {
						display: none;
					}
				}

				&__link {
					width: unset;
				}
			}
		}
	}
	&__paginations {
	}
}
.shop-content {
	&__products {
	}
}
.products-item {
	&__text {
		display: none;
	}

	&__btn {
		display: none;
	}
}

.paginations {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__item {
		& + * {
			margin-right: 25px;
		}
	}

	&__link {
		text-transform: uppercase;
		color: inherit;
		display: flex;
		align-items: center;
		transition: all 0.3s;
		&:hover {
			color: $hover-color;
			&::before,
			&::after {
				background: url("../img/icons/arrow-left--hover.svg") center/cover no-repeat;
			}
		}
	}

	&__link--prev {
		margin-right: 45px;
		&::before {
			content: "";
			display: inline-block;
			background: url("../img/icons/arrow-left.svg") center/cover no-repeat;
			width: 24px;
			height: 11px;
		}
	}

	&__link--next {
		margin-left: 45px;
		&::after {
			content: "";
			display: inline-block;
			background: url("../img/icons/arrow-left.svg") center/cover no-repeat;
			width: 24px;
			height: 11px;
			transform: rotate(180deg);
		}
	}

	&__link--active {
		color: $hover-color;
	}
}
