.contact {
	padding: 120px 0;

	@media (max-width: 1000px) {
		padding: 60px 0;
	}

	@media (max-width: 768px) {
		padding: 30px 0;
	}
	&__body {
	}

	&__map {
		margin-bottom: 120px;

		@media (max-width: 1000px) {
			margin-bottom: 60px;
		}

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__content {
		display: flex;

		@media (max-width: 768px) {
			flex-direction: column;
		}
		& > *:not(:last-child) {
			margin-right: 40px;
			@media (max-width: 768px) {
				margin-right: unset;
				margin-bottom: 30px;
			}
		}
	}

	&__info {
		flex: 0 1 31%;
	}

	&__form {
		flex: 0 1 69%;
	}
}
.contact-info {
	&__title {
		text-transform: none;
		text-align: left;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 50px;
			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}

	&__contact-list {
	}
}
.contact-list {
	& > *:not(:last-child) {
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__item {
		display: flex;
		align-items: center;

		& > *:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__icon {
		flex-shrink: 0;
		width: 60px;
		height: 60px;
		padding: 20px;
		box-shadow: 0px 5px 20px 0 rgba(146, 146, 146, 0.3);
	}

	&__content {
	}

	&__link {
		display: block;
		color: $title-color;
		transition: all 0.3s;
		@media (max-width: 425px) {
			font-size: rem(15);
		}
		&:hover {
			color: $hover-color;
		}
	}

	&__address {
		color: $title-color;
		font-style: normal;
	}
}
.contact-form {
	padding: 60px 40px;
	box-shadow: 0px 10px 40px 0 rgba(172, 172, 172, 0.3);
	background-color: #fff;

	@media (max-width: 768px) {
		padding: 30px;
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__input-box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__input {
		background-color: #f6f6f6;
		border: none;
		padding: 24px;
	}

	&__name {
		flex: 0 1 47.5%;

		@media (max-width: 1000px) {
			flex: 0 1 100%;
		}

		&:not(:last-child) {
			margin-right: 5%;
			margin-bottom: 5%;
			@media (max-width: 1000px) {
				margin-right: unset;
			}
		}
	}

	&__email {
		flex: 0 1 47.5%;

		@media (max-width: 1000px) {
			flex: 0 1 100%;
		}

		&:not(:last-child) {
			margin-bottom: 5%;
		}
	}

	&__subject {
		flex: 0 1 100%;
		&:not(:last-child) {
			margin-bottom: 5%;
		}
	}

	&__textarea {
		flex: 0 1 100%;
		height: 200px;
	}

	&__btn {
	}
}
