html,
body {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1rem;
	line-height: 163%;
	color: $main-color;
	background: $white-color;
}

/*--- Utility ---*/
.none {
	display: none !important;
}

.visually-hidden {
	// делает элемент скрытым, но он по-прежнему на странице
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}
.hidden {
	opacity: 0;
}

/*--- Grid ---*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.container {
	max-width: $container-width + 30px;
	padding: 0 15px;
	margin: 0 auto;
}

/*--- Elements ---*/
.no-scroll {
	overflow: hidden;
}

.btn {
	box-shadow: 0px 7px 20px 0 rgba(255, 17, 48, 0.3);
	background-color: $hover-color;
	font-family: "Roboto", sans-serif;
	letter-spacing: em(0.8);
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 12px 30px;
	border: 1px solid transparent;
	transition: all 0.3s;
	&:hover {
		border-color: $hover-color;
		color: $hover-color;
		background: $bg-color;
	}
}
.btn--border {
	border-color: $hover-color;
	color: $title-color;
	background: $white-color;
	box-shadow: unset;
	&:hover {
		background: $hover-color;
		color: $white-color;
	}
}

.title-small {
	font-family: "Roboto", sans-serif;
	font-size: rem(22);
	font-weight: 500;
	line-height: 164%;
	color: $title-color;
}
.title {
	font-family: "Roboto", sans-serif;
	font-size: rem(48);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: $title-color;
	line-height: 1;
	@include max768px {
		font-size: rem(32);
	}
}
.--ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
